@font-face {
  font-family: 'ninjaFont';
  src: local('ninjaFont'), url(./fonts/YOZAKURA-Regular.otf) format('opentype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
